$color_1: #888888;
$color_2: #292b2c;
$color_3: white;
$color_4: #313131;
$color_5: #646464;
$color_6: #ed4a28;
$color_7: gray;
$color_8: rgb(255, 196, 0);
$color_9: rgb(255, 255, 255);
$color_10: grey;
$color_11: black;
$color_12: #fd5a38;
$font-family_1: "Poppins", sans-serif;
$font-family_2: "K2D", sans-serif;
$background-color_1: #f2f8fb;
$background-color_2: #201e1e;
$background-color_3: #9f321c;
$background-color_4: #fd5a38;
$background-color_5: white;
$border-color_1: #ed4a28;