.heading {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
	p {
		text-align: center;
		color: $color_1;
		padding: 0px 460px;
		font-family: $font-family_1;
		font-size: 14px;
	}
	h2 {
		text-align: center;
		font-family: $font-family_2;
		color: $color_2;
		font-size: 2rem;
		padding-bottom: 1.3rem;
		letter-spacing: 1px;
	}
}
.countries {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.first {
	display: flex;
	width: 75%;
}
.second {
	display: flex;
	width: 75%;
}
.box {
	background: white;
	border-radius: 7px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
	margin-right: 1rem;
	margin-left: 1rem;
	margin-bottom: 2.2rem;
	.images {
		position: relative;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		height: 240px;
		background-color: $background-color_2;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			transition: 0.5s;
		}
	}
	&:hover {
		img {
			transform: scale(1);
			color: $color_2;
			opacity: 0.4;
		}
	}
}
.btnnow {
	position: absolute;
	left: 30%;
	right: 30%;
	text-align: center;
	z-index: 999;
	top: 0px;
	border-color: $border-color_1;
	background: #ed4a28;
	border-radius: 0.25rem;
	padding: 10px 25px;
	opacity: 1;
	transition: 0.6s;
	visibility: hidden;
	button {
		font-size: 15px;
		font-family: $font-family_1;
		color: $color_3;
		transition: 0.5s;
	}
	&:hover {
		button {
			transform: scale(1.1);
		}
	}
}
.text {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	font-family: $font-family_2;
	color: $color_4;
	h2 {
		display: block;
		font-size: 1.5em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}
	.row {
		align-items: center;
		justify-content: space-between;
		display: flex;
		ul {
			li {
				display: inline;
				a {
					color: $color_8;
					font-size: 20px;
					letter-spacing: 3px;
				}
			}
		}
	}
}
.textp {
	padding-top: 10px;
	color: $color_5;
	font-family: $font-family_1;
	font-size: 14px;
	padding-bottom: 10px;
	font-weight: 20px;
	border-bottom: 1px solid rgb(170, 170, 170);
}
.price {
	font-size: 18px;
	padding: 5px;
	h3 {
		color: $color_6;
		display: flex;
		gap: 55px;
	}
	span {
		display: flex;
		gap: 80px;
		color: $color_7;
		padding: 5px;
	}
}
.viewbtn {
	position: absolute;
	left: 42%;
	right: 42%;
	text-align: center;
	z-index: 999;
	border: none;
	background: #ed4a28;
	border-radius: 6px;
	padding: 10px 25px;
	opacity: 1;
	transition: 0.3s;
	button {
		font-size: 10px;
		font-family: $font-family_1;
		color: $color_3;
		transition: 0.3s;
	}
	a {
		font-size: 20px;
		font-family: $font-family_1;
		color: $color_9;
		transition: 0.3s;
		&:hover {
			font-size: 15px;
		}
	}
	&:hover {
		background-color: $background-color_3;
	}
}
.left {
	color: $color_10;
	font-size: 15px;
	padding-top: 0.25rem;
}
.right {
	color: $color_10;
	font-size: 15px;
	padding-top: 0px;
}